<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <a class="navbar-brand" href="#">Prevención Minera</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-4 mx-auto mt-5">
      <div class="card">
        <div class="card-header">
          <strong><h3>Inicio de sesión</h3></strong>
        </div>
        <div class="card-body">
          <div class="form-group">
              <h5 class="card-title">Nombre de usuario</h5>
              <input type="tex" class="form-control" [(ngModel)]="usuario.nombre">
          </div>
          <div class="form-group">
              <h5 class="card-title">Contraseña</h5>
              <input type="password" class="form-control" [(ngModel)]="usuario.password">
          </div> 
          <a href="#" class="btn btn-primary float-right">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>


